.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Menu,
.Quiz,
.endQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.Menu button,
.Quiz button,
.endQuiz button {
  width: 300px;
  height: 50px;
  border: none;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.Menu,
.Quiz,
.endQuiz {
  color: white;
}
.Options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
